// Colores
$primary-color: #333;
$secondary-color: #f8f9fa;
$hover-color: #929292;

// Tamaños de fuente
$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2rem;

// Otros tamaños
$font-size-footer-text: 20rem;
$font-size-footer-text-mobile: 28vw;
$font-size-footer-text-tablet: 15vw;
