/* General */

/* Reset de márgenes y rellenos */
body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

/* Hero */

.hero {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
  height: 110vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 8rem; 
  font-weight: bolder;
  font-style: italic;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

/* Separator */

.separator {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.separator img {
  max-width: 100%;
  height: auto;
}

/* Products, Testimonials, Contact */

.products,
.testimonial,
.contact {
  min-height: 100vh;
}

.products {
  padding: 3rem 0;
  margin-top: 2rem;
}

/* Product Cards */

.product-card {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.6s ease;
}

.product-card .card-img-top {
  object-fit: cover;
  width: 100%;
  height: 400px; 
}

.product-card:hover {
  transform: scale(1.1); 
}

.product-card:hover .card-img-top {
  transform: scale(1.03); 
}

/* Footer */

footer {
  text-align: center;
  padding: 20px;
  background: #f8f9fa;
}

.social-icons {
  margin: 1rem 0;
}

.social-icons a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #929292;
}

.footer-text {
  font-size: 20rem; 
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
  margin-top: 1rem;
  max-width: 90vw; 
  overflow-wrap: break-word; 
}

/* Testimonial */

.testimonial {
  background: #f8f9fa;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: center;
  padding: 2rem 0;
}

.testimonial img {
  max-width: 100px;
  border-radius: 50%;
}

.contact {
  padding: 2rem 0;
}

.testimonial-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.testimonial-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-section {
  margin-bottom: 4rem;
}

/* Headers */

h1 {
  font-size: 4rem; 
  text-align: center;
}

h2 {
  font-size: 3rem; 
  text-align: center;
  margin-bottom: 1.5rem;
}

h2.mb-4 {
  margin-bottom: 2rem;
}

h2.text-center {
  text-align: center;
}

h3 {
  font-size: 2rem; 
  margin-bottom: 1rem;
}

/* About Us */

.intro {
  padding: 3rem 0;
}

.intro p {
  font-size: 1.2rem;
}

.our-story,
.our-team,
.our-values,
.contact-us {
  padding: 3rem 0;
}

.our-story img {
  max-width: 100%;
  height: auto;
}

.team-member img {
  max-width: 120px;
  height: auto;
}

.our-team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.our-team .team-member {
  text-align: center;
  margin-bottom: 2rem;
}

.our-team .team-member h5 {
  font-size: 1.2rem;
}

.our-values ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.our-values li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.contact-us p {
  font-size: 1rem;
}

/* Tips */

.intro {
  padding: 3rem 0;
}

.intro p {
  font-size: 1.2rem;
}

.application,
.storage,
.layering,
.common-mistakes,
.contact {
  padding: 0rem 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.faq {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
}

.accordion-button {
  box-shadow: none;
  border: none;
}

.accordion-button:not(.collapsed) {
  color: #000;
}

.accordion-body {
  border-top: 1px solid #dee2e6;
}

/* Media Queries */

/* Mobile (Portrait) */
@media (max-width: 576px) {
  .hero h1 {
    font-size: 4rem;
  }

  .product-card .card-img-top {
    height: 200px;
  }

  .footer-text {
    font-size: 12vw; 
  }

  .social-icons a {
    font-size: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .intro p,
  .our-story p,
  .our-team p,
  .our-values li,
  .contact-us p {
    font-size: 0.9rem;
  }

  .products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .product-card,
  .testimonial {
    flex: 1 1 100%;
  }
}

/* Mobile (Landscape) and Tablet */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 5rem;
  }

  .product-card .card-img-top {
    height: 300px;
  }

  .footer-text {
    font-size: 15vw; 
  }

  .social-icons a {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .intro p,
  .our-story p,
  .our-team p,
  .our-values li,
  .contact-us p {
    font-size: 1rem;
  }

  .products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .product-card,
  .testimonial {
    flex: 1 1 100%;
  }
}